
#header-component{
  top: 0px;
  position: static;
  background-color: rgb(249, 246, 240);
  user-select: none;
  min-width: max-content;
}

.inline-header{
  height: 2px;
  width: 100%;
  background: rgba(0, 0, 0, .1);
}

.sidebar-opener{
  margin-right: 4em;
}

.search-input{
  border-radius: 5em;
  border: none;
  background: rgb(220, 220, 220);
  padding-left: 1em;
  height: 2em;
  width: 15em;

  transition: width .3s;
}

.search-input:focus{
  width: 17em;
}

.shopping-icon{
  height: 2em;
  margin-left: 1.3em;
  background: rgb(235, 54, 62);
  border-radius: 1em;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em .7em;
  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: background .3s;
}

.shopping-icon:hover{
  cursor: pointer;
  background: rgb(160, 54, 62);
}

.vert-line{
  height: 2em;
  width: 2px;
  margin: auto;
  margin-left: 1.5em;
  background: rgba(0, 0, 0, .1);
}

.title-name{
  margin: auto;
  margin-left: 0;
  font-size: 1.5em;
  color: red;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}
