
#landing-page{
  position: absolute;
  width: 82%;
  height: 100%;
  right: 0;
  z-index: 0;
  background-image: url('../assets/FoodAndDrinkDesign.svg');
  background-repeat: repeat;
  background-size: contain;
  background-color: rgb(180, 39, 45);
}

#title-holder{
  margin-left: 50%;
  margin-top: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#title-name{
  font-size: 7.5em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: 'Architects Daughter', cursive;
}

#search-bar{
  width: 60%;
  border-radius: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-text-div{
  display: flex;
  background: rgb(255, 255 ,255);
  align-content: center;
  justify-content:flex-start;
  width: 100%;

  border-radius: 10em;
  transition: width .5s;
}

.places-autocomplete {
  width: 90%;
}

.input-type {
  width: 100%;
  border:hidden;
  margin-bottom: 0;
}

.map-marker {
  align-self: center;
  color: rgba(0, 0, 0, .3);
  font-size: 1.5em;
  margin-left: .5em;
}

.map-marker i {
  display: inline
}

#search-button{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .3em;

  transition: background .3s;
}

#search-button i{
  margin-left: .1em;
}

#search-button:hover{
  background: rgb(100, 0, 0);
  cursor: pointer;
}

#all-restaurants{
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 1em;
  width: 12em;
  font-size: 1.5em;
  margin-top: .7em;
  text-align: center;
  padding: .2em 1em;

  transition: background .3s;
}

#all-restaurants:hover{
  background: rgb(100, 0, 0);
  cursor: pointer;
}
