
#landing-page{
  position: absolute;
  width: 82%;
  height: 100%;
  right: 0;
  z-index: 0;
  background-image: url('../assets/FoodAndDrinkDesign.svg');
  background-repeat: repeat;
  background-size: contain;
  background-color: rgb(180, 39, 45);
}

#title-holder{
  margin-left: 50%;
  margin-top: 23%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#title-name{
  font-size: 4em;
  color: rgb(255, 255, 255);
  font-family: 'Architects Daughter', cursive;
}

#search-bar{
  width: 60%;
  border-radius: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-text{
  width:75%;
  padding-left: 1em;
  height:2em;
  border-style: none;
  border-radius: 10em;
  font-size: 1.3em;
  display: inline-block;
  transition: width .5s;
}

.input-text:focus{
  width: 90%;
}

#search-button{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .3s;
}

#search-button i{
  margin-left: .1em;
}

#search-button:hover{
  background: rgb(100, 0, 0);
  cursor: pointer;
}

#all-restaurants{
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 1em;
  width: 12em;
  font-size: 1.5em;
  margin-top: .7em;
  text-align: center;
  padding: .2em 1em;

  transition: background .3s;
}

#all-restaurants:hover{
  background: rgb(100, 0, 0);
  cursor: pointer;
}
