#login-page{
    position: absolute;
    width: 82%;
    height: 100%;
    right: 0;
    z-index: 0;
    background-image: url('../assets/FoodAndDrinkDesign.svg');
    background-repeat: repeat;
    background-size: contain;
    background-color: rgb(180, 39, 45);
}

.container{
    display: flex; /* or inline-flex */
    flex-direction: column;
    float: none;
    padding: 5px;
}
.container > *{
    margin: 5px;
    min-width: 200px;
}
  
.content-context{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: center;
}

  