#login-page{
    position: absolute;
    width: 82%;
    height: 100%;
    right: 0;
    z-index: 0;
    background-image: url('../assets/FoodAndDrinkDesign.svg');
    background-repeat: repeat;
    background-size: contain;
    background-color: rgb(180, 39, 45);
}

.container{
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 23%;
    padding: 5px;
}
.container > *{
    margin: 5px;
    min-width: 235px;
    text-align: center;
}

.lower{
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 10%;
    padding: 5px;
}

.lower > *{
    margin: 5px;
    min-width: 235px;
    text-align: center;
}

.button{
    margin-bottom: 1em;
    background: rgb(220, 220, 220);
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 30px;
    padding: 0em 1em;
    border-radius: 1.6em;
    margin-right: 1em;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
    outline: none !important;
    transition: background .3s
}

.button:hover{
    color: black;
    background: rgb(200, 200, 200);
}

