html, body {
  margin: 0;
  color: rgb(249, 246, 240)
}

a{
  text-decoration: none;
  text-decoration-color: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

*{
  outline: none;
  font-family: 'Roboto Slab', serif;
}
