html, body {
  margin: 0;
}

a{
  text-decoration: none;
  text-decoration-color: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

*{
  outline: none;
  font-family: 'Roboto Slab', serif;
}
