#OrderHistoryContainer .pagination-comp{
  display: flex;
  justify-content: center;
  
  bottom: 0;
}

.container-title {
    color: #000000;
    font-size: large;
    padding-bottom: 5px;
}

.restaurant-name{
  margin-bottom: 0em;
  cursor: pointer;
  user-select: none;
}

.order-location{
  color: rgb(100, 100, 100);
  margin-bottom: 0em;
}

.om-name{
  color: rgb(255, 0, 0)
}

.om {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.order-component{
  padding: .5em;
  border-radius: .5em;
  transition: background .2s;
}

.order-component:hover{
  background: rgb(200, 200, 200);
}