#restaurant-page{
  margin: 4em;
  margin-left: 6em;
  margin-right: 6em;
}

.img-holder1{
  width: 100%;
  height: 30em;
}

.img-holder1 img{
  background: rgb(60, 60, 60);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.img-holder1{
  margin-bottom: 2em;
}

.details{
  display: flex;
  font-size: 1.2em;
  color: rgb(197, 21, 60);
  user-select: none;
  margin-bottom: 1em;
  margin-top: 1em;
}

.location{
  margin-bottom: 2em;
  display: flex;
  font-size: 1.2em;
  color: rgb(8, 112, 69);
}

.stars{
  font-size: 1em;
}

.full-menu{
  margin-top: 2em;
  width: 80%;
}

.full-menu-header{
  display: flex;
  justify-content: space-between;
  padding: 0em 2em;
}

.menu-items{
  display: flex;
  flex-wrap: wrap;
}
